form{
    background-color: rgba(71, 80, 254, 0.273);
    max-width: 400px;
    margin: auto;
    padding: 40px;
    border-radius: 50px;
    border: 2px solid black;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
form label{
    display: flex;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 8px;
    width: 100%;
}
form textarea{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    resize: none;
    width: 100%;
}
form input{
    width: 100%;
    font-size: 16px;
}
form input[type = "reset"]{
    border-radius: 6px;
    border: 3px solid red;
    min-width: 20%;
    font-size: 18px;
    min-width: 20%;
    color: red;
}
form input[type = "submit"]{
    background-color: rgb(158, 214, 146);
    border-radius: 6px;
    min-width: 20%;
    font-size: 18px;
    cursor: wait;
}